*{
    margin: 0%;
    padding:0;
    font-family: 'Courier New', Courier, monospace
}
.form input{
    margin:10px;
    padding:10px;
    border-radius: 10px;
    border: none;

}
.main{
    border:none;
    border-radius: 10px;
    height: 300px;
    width: 400px;
    text-align: center;
    margin:100px auto;
    background-color:transparent;
    color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 10px 10px black;
}

.bn{
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 25px;
    margin:10px 10px 10px 100px;
}
.bn:hover{
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
body{
    background: url("/src/assests/banner3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main h3{
    margin:0px 10px 15px 100px;
}

.Rform input{
    margin:12px;
    padding:12px;
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 400px;
    }
    .signup{
        width: 200px;
        margin: auto;
    }
    .Rmain h3{
        margin: 10px 0px 10px 0px ;
    }

    ul li {
        background-color: blue;
        cursor: pointer;
        border: none;
        /* border-radius: 10px; */

    }
    ul li a{
        color:white;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        list-style: none;
        text-align: center;

    }
    nav h3{
        text-align: center;
        color: White;
        
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
button a{
    color: white;
    text-decoration: none;
    margin: 10px;

}
.signup{
    margin-top: 10px;
}
.labels{
    margin:12px;
    padding:12px;
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 400px;
}
.Rmain{
    border:none;
    border-radius: 10px;
    height: 772px;
    width: 474px;
    text-align: center;
    margin:100px auto;
    background-color:transparent;
    color:blanchedalmond;
    box-shadow: 10px 10px 10px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}